.k-grid{
    border:0;
    margin-top: 38px;
    box-shadow: 0px 0px 5px 1px #b3bfc370;
.k-grid-toolbar{
    background-color: transparent;
    border:0;
    position: absolute;
    top: -38px;
    padding: 0;
    .k-grid-add{
        background-color: $turquoise;
        color:$white;
        border:0;
        font-size: 12px;
    }
}
.k-grid-header{

        th{
            font-size: 14px;
            border:0;
            color:$tundora;
            font-weight: 600;
            padding: 0.5rem;
            & > a.k-link{
                padding: 0;
                margin: 0;
            }
    }
    tr:not(.k-filter-row){
        background-color: $linkWater;
        text-transform: capitalize;
    }
    .k-filter-row{
        background-color:$athensGray;
        .k-input{
            padding: 0;
            height: 1.5em;
        }
    }
}
.k-grid-content{
    .k-alt{
        background-color:$athensGray;
    }
    td{
        border:0;
        @extend .text-ellipses;
        font-size: 12px;
    }

// kendo command button without text
.k-command-cell {
    .k-button-icontext {
        font-size: 0;
        margin: 0 0.4rem;
        background: transparent;
        border: 0;
        &.k-grid-edit,&.k-grid-update{
            color:$danube;
        }
        &.k-grid-cancel,&.k-grid-delete{
            color:$seaPink;
        }
        &:focus,&:active{
            border: 0;
        }
      .k-icon { 
        margin: 0;
      } 
    }
  }

  // Disable button in grid that opens popup in case of add/edit row
.k-grid-edit-row {
    .btn-open-popup {
      pointer-events: none;
    }
  }

}
.k-pager-wrap{
    font-size: 10px;
    .k-pager-info{
        font-size: 12px;
    }
    .k-pager-numbers{
.k-state-selected,.k-state-selected:hover{
    background-color:$turquoise;
    border-color:$turquoise;
}
}
    .k-link, .k-pager-nav{
color: $black;
    }

    }

}