input, label{
    display: block
}
label{
    text-transform: capitalize;
}
.mt10{
    margin-top:10px
}
.mb10{
    margin-bottom:10px
}
.form-group{
    display: block;
    font-size: 35px;
}
span.err {
    color: red;
}