.main-header {
    .horizontal-navbar{
        margin-top: 70px;
    }
    .hide {
        display: none;
    }
    .fixed-top{
        background-color: #fff !important;
        box-shadow: 0 0px 6px 3px #dcdcdc;
    }
    .custom-logo {
        width: 182px;
    }
    .user-img{
        width: 35px;
        max-height: 35px;
        border-radius: 50%;
    }
    .user-id{
        line-height: 15px;
    }
    .search-patient{
        button:first-child{
            border-bottom-right-radius: 0 !important;
            border-top-right-radius: 0 !important;
            border-bottom: 1px solid transparent;
        }
        button:nth-child(2){
            border-bottom-left-radius: 0 !important;
            border-top-left-radius: 0 !important;
            border-bottom: 1px solid transparent;
            margin-left: 2px;
        }
        input{            
            border-bottom: 1px solid transparent;
            &::placeholder{
                opacity: 0.5;
                color:#0357a8
            }
        }
    }
    .breadcrumbs{
        top: 70px;
        width: 98%;
        z-index: 100;
        background: #0357a8 !important;
        color: #fff !important;
        height:35px;
        a.start-nav{
            display: inline-block;
            height: 30px;
            border-right: 1px solid #7fa8d1;
            vertical-align: middle;
        }
        a:hover {
            text-decoration: none;
        }  
        .mega-menu{
            .displayMega a:hover {
                text-decoration: none;
                padding-bottom: 0;
                border-bottom: 0;
            }    
            .list-inline-item{
                a,
                a:link,
                a:active,
                a:visited,
                a:hover{
                    span{
                        color: #0357a8;
                        font-weight: bold
                    }
                }
            }      
            ul li {
                padding: 0;
                margin-bottom: 0;
                a{
                    img{
                        height:65px;
                    }
                }
            }
            .displayMega {
                display: block;
                opacity: 1;
                position: absolute;
                left: 0;
                width: 100%;
                top: 75px;
                z-index: 999999;
                .rout-holder{
                    background: #0357a8;
                    &:first-child{
                        border-top-left-radius: 0.3rem ;
                        border-bottom-left-radius: 0.3rem ;
                    }
                    &:last-child{
                        border-top-right-radius: 0.3rem ;
                        border-bottom-right-radius: 0.3rem ;
                    }
                }
            }
            
        }        
        
        .displaynavEl{
            margin-top: 30px;
            background: #ecfbff;
            display: block;
            margin: 10px 0 0;
            opacity: 1;
            position: absolute;
            left: 0;
            width: 100%;
            z-index: 999999;
            top: 35px;
        }          
        ul.level-2 {
            color: #fff;
        }
        .bread-links{
            a,
            a:link,
            a:active,
            a:visited,
            a:hover{
                color:#fff;
            }
            ul{
                li:after {
                    content:'\003e';
                    margin-right: 5px;
                    margin-left: 5px;
                }
            }

        }
    }
}