$turquoise:#48dbdf;
$white:#fff;
$linkWater:#D7E4F1;
$athensGray:#F5F7F9;
$danube:#6195C7;
$seaPink:#EEA4A4;
$black:#000 ;
$tundora:#434343;
$rollingStone :#7A848B;
$alto : #dddddd;
$shamrock: #38cca4;