$turquoise:#48dbdf;
$white:#fff;
$linkWater:#D7E4F1;
$athensGray:#F5F7F9;
$danube:#6195C7;
$seaPink:#EEA4A4;
$black:#000 ;
$tundora:#434343;
$rollingStone :#7A848B;
$alto : #dddddd;
$shamrock: #38cca4;
$tropicalBlue:#c0dbf6;
$Madison:#0C3C6B;
$Endeavour:#075aa9;
$Sunglo:#e26767;
$FairPink:#ffe8e8;
$spindle :#bfd5e9;
$OffGreen:#DFF7EC;
$Bittersweet:#ff6363

