@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';
@import 'node_modules/@progress/kendo-theme-bootstrap/scss/all';

* {
  margin: 0;
  padding: 0;
}
body{
  background:#c9c9c9;
}
