@import '../../../../../theme/partials/variables';

.popup{
    display: contents;    
    .no-style{
        color: $rollingStone;
        &:hover,
        &:active,
        &:focus{
            color: $Sunglo
        }
    }
}